/* 
    Created on : 20-Sep-2016, 13:17:50
    Author     : Ľuboš Babocký
*/
html, body {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
main {
	display: none;
}
.navbar {
	background-color: #003b5c;
	color: #ffffff;
}
.icon {
	display: inline-block;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.icon-logo {
	width: 1.5em;
	height: 1.5em;
	background-image: url(../img/logo.png);
}
.icon-list {
	width: 2em;
	height: 2.5em;
	background-color: #003b5d;
	background-image: url(../img/list-white.png);
}

.icon-checked, .icon-unchecked {
	width: 1.75em;
	height: 1.5em;
}

.icon-checked {
	background-color: #003b5c;
	background-image: url(../img/check_in.png);
}
.icon-unchecked {
	background-color: #75bddb;
	background-image: url(../img/check_out.png);
}
h1 {
	display: inline-block;
}